# Dependency directories
node_modules/

# Environment variables file
.env

# Logs
logs
*.log

# Output of npm commands
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Operating System Files
.DS_Store
Thumbs.db
